* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 50px;
}

#canvas {
  box-shadow: 1px 1px 3px #fffcf5;
  border-radius: 2px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}
.button {
  position: relative;
  top: -2vh;
  box-shadow: 1px 1px 2px #f55b98;
  background-color: #e61266;
  border-radius: 1vw;
  border: none;
  color: white;
  padding: 0.3vw 0.6vw;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: -0.3vw;
}
.button:hover {
  transform: scale(1.1);
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}
#undo {
  top: -1.5vh;
  background-color: #f2a7cc;
}
#redo {
  top: -1.5vh;
  background-color: #f2a7cc;
}
#download {
  background-color: #f2a7cc;
  margin: 1vw;
}
